<p>newproduct works!</p>

<div>
    <form #myForm="ngForm" (ngSubmit)="saveData()">

        <table>
                <tr>
                    <td><label for="prodid">Product ID</label> </td>   
                    <td><input  type="text" name="prodid" [(ngModel)]="prod.prodid" required></td>       
                </tr>
                <tr>
                    <td><label for="prodname">Product Name</label> </td>   
                    <td><input  type="text" name="prodname" [(ngModel)]="prod.prodname" required></td>       
                </tr>
                <tr>
                    <td><label for="price">Product Price</label> </td>   
                    <td><input  type="text" name="price" [(ngModel)]="prod.price" required></td>       
                </tr>
                <tr>
                    <td><label for="category">Product Category</label> </td>   
                    <td><input  type="text" name="category" [(ngModel)]="prod.category" required></td>       
                </tr>
                <tr>
                    <td></td>   
                    <td><input type="submit" value="Save Product" [disabled]="!myForm.valid"></td>       
                </tr>
        </table>

    </form>

</div>