<!-- <h3>This app component start</h3>
<app-home></app-home>
<h3>This app component end</h3>

<app-test></app-test> -->

<!-- inline-->
<!-- <app-sample></app-sample> -->

<!-- Event Binding -->
<!-- <app-event-binding></app-event-binding> -->

<!-- <app-calc></app-calc> -->

<!-- Employee class Exaple
<app-emp></app-emp> -->

<!-- Structure in Angular
<app-struct></app-struct> -->

<!-- Angular Form
<app-tdf-demo></app-tdf-demo> -->
<!-- ANgular service -->
<!-- <app-client></app-client> -->

<div id="header">
    <h1>LTI Bank of India </h1>
</div>
<div id="nav">
    <ul>
            <li><a [routerLink]="['/homeLink']">Home</a></li>
            <li><a [routerLink]="['/LoginLink']">Login</a></li>
            <li><a [routerLink]="['/clientLink']">Client</a></li>
            <li><a [routerLink]="['/formLink']">Form</a></li>
    </ul>
</div>
<div id="main">
<router-outlet></router-outlet>
</div>
<div id="footer">
    Copyright @2021 LTI
</div>