<p>searchproduct works!</p>
<table>
    <tr>
        <td>Enter Category <input type="text" [(ngModel)]="srchCat"><button (click)="searchByCat()">Search</button> </td>  </tr>
    <tr>     
        <td>Enter Price Range From <input type="text" [(ngModel)]="lowPrice"> To <input type="text" [(ngModel)]="highPrice">
            <button (click)="searchByPrice()">Search</button> </td>        
        </tr>  
</table>
<div>
    <table>
        <thead style="color: blue;">
            <th>Product ID</th>
            <th> Product Name</th>
            <th> Price</th>
            <th> Category</th>
            <th>Manage</th>
        </thead>
        <tr *ngFor="let p of prod">
                <td> {{p.prodid}}</td>
                <td> {{p.prodname}}</td>
                <td> {{p.price}}</td>
                <td> {{p.category}}</td>
        </tr>
        </table>
    
</div>